<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="icon" href="{% static '/img/fav/cropped-favicon-192x192.png' %}" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="{% static '/img/fav/cropped-favicon-180x180.png' %}" />
<title>PRC · LA UNION | 2022</title>
<meta content="" name="description">
<meta content="" name="keywords">
<link href="{% static '/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static '/css/mystyles.css' %}" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}
</body>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</html>